@{
    ViewData["Title"] = "Meetup Center Page";
}

@model List<Actividad>
@using Microsoft.AspNetCore.Http

<div style="display: flex; justify-content: space-between;">
    <h2>Dojo Meetup Center</h2>
    <div class="navbar navbar-expand-lg form-inline">
        <div class="">
            <a asp-controller="Home" asp-action="Dashboard" class="btn btn-primary">Dashboard</a>
            <a asp-controller="Home" asp-action="Logout" class="btn btn-warning">Logout</a>
        </div>
    </div>
</div>

<div class="p-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Event Coordinator</th>
                <th scope="col">No. of Participants</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Actividad a in Model)
            {
                <tr>
                    <td><a href="/ActivityDetails/@a.ActividadID">@a.ActivityName</a></td>
                    <td>@a.ActivityDate.ToString("MM/dd") at @a.ActivityTime.ToString("hh:mm tt")</td>
                    <td>@a.Duration @a.DurationAmount</td>
                    <td>@a.User.Name</td>
                    <td>@a.ActiveUser.Count</td>
                    <td>
                        @* if loggedIn user created it, allow to delete, otherwise they can join and leave *@
                        @if (a.UserID == Context.Session.GetInt32("UserID"))
                        {
                            <form action="/Activity/Delete/@a.ActividadID" method="post">
                                <input type="submit" class="btn btn-outline-info btn-link" value="Delete" />
                            </form>
                        }
                        else
                        {
                            if((a.ActiveUser.Any(g => g.UserID == Context.Session.GetInt32("UserId"))))
                            {
                                <a href="/Activity/Join/@a.ActividadID">Leave</a>
                            }
                            else
                            {
                                <a href="/Activity/Join/@a.ActividadID">Join</a>
                            }
                        }
                        @* The above does not work correctly, in displaying if they joined but it does update the database
                            I'm willing to have the red belt as long as this part works but doesn't display correctly.
                            Since update the links doesn't work and to keep on moving, I merged the 2 join/leave within join.
                            I did attempt to adjust it after completing the rest and to not overthink and continue the burnout.
                            I say this is done. Everything else for red belt is satisfied.
                        *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/NewActivity" class="btn btn-success">Add New Activity</a>
</div>